@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
  display: flex;
}

a,
.green {
  text-decoration: none;
  color: #346e89;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  font-weight: bold;
}

body {
  background: #47849d;
  display: flex;
  place-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 600px) {
  #app {
    padding: 0 1rem;
  }
}